body{
    background-image: url(../images/fundo.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: rgb(141, 141, 141);
    font-family: fantasy;
    /* font-family: url(../../../estudo_html/exemplos_da_aula/fontes/astronbi.ttf); */
}


h1{
    font-size: 73px;
    color: rgb(255, 123, 0);
    letter-spacing: 4px;
}

h2{
    font-size: 30px;
    color: rgb(207, 134, 39);
    letter-spacing: 2px;
}

p{
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 2px;
    text-indent: 1.5em;
    word-spacing: 3px;
}

ul{
    list-style: square;
    font-size: 30px;
    line-height: 60px;
}

.jumbo{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.938);
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 30px;
}

.imagens{
    display: flex;
    justify-content: space-between;
}